<div id="footer-container">
    <div id="footer">
        <div class="bottom">
            <div class="footer-icon"></div>
            <div class="aereo-icon"></div>
            <div class="more-read">
                <div class="side-title">
                    <h2 class="title">推荐阅读</h2>
                </div>
                <ul>
                    <li>
                        <a href="http://www.iprimidieci.com/le-piu-lette/2009/11/28/le-piu-belle-classifiche-in-anno-di-iprimidiecicom-parte-1-di-2">
                            <strong>Le più belle classifiche in anno di WWW.IPRIMIDIECI.COM (parte 1 di 2)</strong>
                            <small>28 Novembre 2009 | di <span>signorperello</span></small>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.iprimidieci.com/usi-e-costumi/2009/06/08/le-e-mail-piu-offensive-che-abbiamo-ricevuto-da-quando-e-iniziato-il-nostro-blog">
                            <strong>Le e-mail più offensive che abbiamo ricevuto da quando è iniziato il nostro
                                blog</strong>
                            <small>8 Giugno 2009 | di <span>signorperello</span></small>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.iprimidieci.com/sport/2008/12/16/dieci-cose-che-ogni-giocatore-di-calcetto-potrebbe-fare">
                            <strong>Dieci cose che ogni giocatore di calcetto potrebbe fare</strong>
                            <small>16 Dicembre 2008 | di <span>Cr*st*na</span></small>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.iprimidieci.com/tv/2008/11/24/dieci-personaggi-intramontabili-della-pubblicita">
                            <strong>Dieci personaggi intramontabili della pubblicità anni ‘80 / ‘90</strong>
                            <small>24 Novembre 2008 | di <span>Cr*st*na</span></small>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="last-comment">
                <div class="side-title">
                    <h2 class="title">最新评论</h2>
                </div>
                <ul>
                    <li><a href="?p=2345#comment-0">
                        <span>Thank you, I've just been searching for info approximately this subject for a while and yours is the <small>
                            ...
                        </small></span>
                        <small>Futuristic Marketing, 24 luglio 2012 h 17:38</small>
                    </a></li>
                </ul>
            </div>
            <div class="news">
                <div class="side-title">
                    <h2 class="title">Follow Me</h2>
                </div>
                <ul>

                </ul>
            </div>
            <br class="clearer">
        </div>
        <div class="info">
            <div class="copyright">
                <div>Theme by Primi Dieci | Tutti i diritti riservati</div>
                <div>Powered by <a href="https://github.com">Github</a> and <a href="http://jekyllrb.com">Jekyll</a>
                </div>
            </div>
            <div class="credits">Copyright &copy; 2008 - 2014 金氧 | Lamb</div>
            <div class="rss-mail">
                <a class="rsslink" href="/rss">feed rss</a>
                <a class="contactlink" href="mailto:lamb52gao#gmail.com">contact</a>
            </div>
            <br class="clearer">
        </div>
    </div>
</div>