<div id="top-container">
    <div id="top">
        <div id="navigation">
            <!-- <a class="classifiche" href="classifiche">classifiche</a> -->
            <a class="extra" href="/opensource.html">开源</a>
            <a class="about" href="/about.html">关于</a>
            <a class="home" href="/">首页</a>
        </div>
    </div>
    <div id="header">
        <div class="logo"><a href="/"></a></div>
        <div class="search">
            <form name="form" method="get" action="###">
                <input type="text" class="delme" name="s" value="">
                <input type="submit" value="" class="submit">
            </form>
        </div>
    </div>
    <div class="thinks">
    </div>
</div>