<div class="sidebar">
    <div class="paint"></div>
    <div class="antefatto">
        <div class="side-title">
            <h2 class="title">公告</h2>
        </div>
        <div class="text">
            我叫金氧|Lamb.<br>
            程序员一枚.<br>
            工作是后端，但是也会关注前端.<br>
            最近自己在折腾点东西.
        </div>
    </div>
    <ul id="sidebar">
        <li class="livprinc widget tag final">
            <div class="side-title">
                <h2 class="title">标签</h2>
            </div>
            <ul>
                {% for tag in site.tags %}
                <li>[{{tag[1].size}}]
                    <a href="/tag.html#{{tag[0]}}" title="{{tag[0]}}" >
                    {{tag[0]}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="livprinc widget categories final">
            <div class="side-title">
                <h2 class="title">分类</h2>
            </div>
            <ul>
                {% for category in site.categories %}
                <li>[{{category[1].size}}]
                    <a href="/category.html#{{category[0]}}" title="{{category[0]}}" >
                    {{category[0]}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="livprinc widget archive final">
            <div class="side-title">
                <h2 class="title">存档</h2>
            </div>
            <ul>
                {% for post in site.posts %}
                    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
                    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
                    {% capture previous_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
                    {% capture previous_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
                    {% if this_year != previous_year && this_month != previous_month %}
                      <li>'{{this_year}} <a href="/archive.html#{{this_year}}{{this_month}}">{{this_month}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
        <li class="livprinc widget ads-google">
            <div class="ads">
                <div class="side-title">
                    <h2 class="title">赞助</h2>
                </div>
                {% include ads.html %}
            </div>
        </li>
        <li class="livprinc widget blog-roll final">
            <div class="side-title">
                <h2 class="title">友情链接</h2>
            </div>
            <ul>
                <li><a target="_blank" href="http://www.ifitsat.com/" title="如果它说">如果它说</a></li>
                <li><a target="_blank" href="http://www.oncereply.me/" title="答复哈">答复哈</a></li>
                <li><a target="_blank" href="http://www.nodeclipse.org/" title="nodeclipse">nodeclipse</a></li>
                <li><a target="_blank" href="http://88250.b3log.org/" title="简约设计の艺术">简约设计の艺术</a></li>
                <li><a target="_blank" href="http://vanessa.b3log.org/" title="Vanessa">Vanessa</a></li>
                <li><a target="_blank" href="http://www.noday.net/" title="燃烧的火焰">燃烧的火焰</a></li>
                <li><a target="_blank" href="http://www.ansen.org/" title="Ansen">Ansen</a></li>
            </ul>
        </li>
        <li class="livprinc widget rss">
            <div class="side-title">
                <h2 class="title"><a href="/rss">订阅</a></h2>
            </div>
        </li>
    </ul>
</div>
<br class="clearer">

<div class="end-content"></div>