<div class="sidebar">
    <div class="paint"></div>
    <div class="antefatto">
        <div class="side-title">
            <h2 class="title">公告</h2>
        </div>
        <div class="text">
            我叫金氧|Lamb.<br>
            程序员一枚.<br>
            工作是后端，但是也会关注前端.<br>
            最近自己在折腾点东西.
        </div>
    </div>
    <ul id="sidebar">
        <li class="livprinc widget tags">
            <div class="ads">
                <div class="side-title">
                    <h2 class="title">标签</h2>
                </div>
            </div>
            <ul>
                {% for tag in site.tags %}
                <li class="{% if forloop.index % 2 == 1 %}{% else %}right-it{% endif %}">[{{tag[1].size}}]
                    <a href="/tag/#{{tag[0]}}" title="{{tag[0]}}" >
                    {{tag[0]}}{{((forloop.index|modulo:2) == 1)}}
                    {% if ((forloop.index|modulo:2) == 1) %}
                    奇数
                    {% else %}
                    偶数
                    {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="livprinc widget categories final">
            <div class="side-title">
                <h2 class="title">分类</h2>
            </div>
            <ul>
                <li class="cat-item cat-item-7"> [18]
                    <a href="http://www.iprimidieci.com/category/alimentari"
                       title="Per i veneratori del gusto e dei buoni sapori, per sapere dei sapori. Ciò che è buono non sempre piace.">Alimentari</a>
                </li>
                <li class="cat-item cat-item-1263 right-it"> [15]
                    <a href="http://www.iprimidieci.com/category/amore"
                       title="Il magico mondo dell'attrazione, dell'eros, dei fidanzatini e tutto ciò che concerne appuntamenti, inciuci, baci e coccole. Noi siamo sempre e perennemente innamorati e il mondo è una bolla rosa...">Amore</a>
                </li>
                <li class="cat-item cat-item-15"> [8]
                    <a href="http://www.iprimidieci.com/category/arte"
                       title="Impara l'arte e mettila in saccoccia. Un mondo infinito: dal paleolitico, ai quadri di Giancarlo Campagna. Scultura, pittura, liposuzione e acconciatura. L'Italia è la culla del rinascimento, il nostro blog è il passeggino.">Arte</a>
                </li>
                <li class="cat-item cat-item-14 right-it"> [9]
                    <a href="http://www.iprimidieci.com/category/cartoni-animati"
                       title="Noi figli degli anni '80 e dei cartoni con i disegni tristi, ma con sigle spettacolari che non ci stancheremo mai di cantare. Chi non salta senza voce è. Dai Flinstones ai Gormiti che piacciono tanto ad Antonio... W i cartoons!">Cartoni
                        animati</a></li>
                <li class="cat-item cat-item-12"> [18]
                    <a href="http://www.iprimidieci.com/category/cinema"
                       title="Da qui è partito tutto [leggere la storia del sito] preparatevi alla più grande classifica della storia. Signorperello è l'unico ad avere letto l'intero dizionario del cinema 2 volte [contenente le trame di 70 mila film].">Cinema</a>
                </li>
                <li class="cat-item cat-item-9 right-it"> [22]
                    <a href="http://www.iprimidieci.com/category/curiosita"
                       title="Se cercate delle classifiche strane o insolite, questa categoria è il posto giusto. Un concentrato di emerite idiozie raccolte per voi.">Curiosità</a>
                </li>
                <li class="cat-item cat-item-659"> [9]
                    <a href="http://www.iprimidieci.com/category/festivita"
                       title="Classifiche solo durante gli eventi. Perchè rispettiamo la befana, i re magi, il carnevale e tutto lo staff...">Festività</a>
                </li>
                <li class="cat-item cat-item-19 right-it"> [7]
                    <a href="http://www.iprimidieci.com/category/giochi"
                       title="In redazione si gioca come pazzi. E ne sappiamo davvero di questa categoria. Dai giochi di una volta, ai laser game, avrete i lacrimoni agli occhi per la nostalgia e un po' di idiosincrasia...">Giochi</a>
                </li>
                <li class="cat-item cat-item-8"> [10]
                    <a href="http://www.iprimidieci.com/category/hobby"
                       title="A tempo perso. Per chi ha tempo. Noi ne abbiamo da vendere e da buttare. Dal bricolage agli smacchiatori di olio d'oliva. Dalle sane passeggiate alle cene con gli amici. Categoria mooolto generica. Come questo blog del resto.">Hobby</a>
                </li>
                <li class="cat-item cat-item-23 right-it"> [7]
                    <a href="http://www.iprimidieci.com/category/le-piu-lette"
                       title="Dipende da voi. E non da noi. Perché ce le leggiamo solo una volta. Un aggiornamento in tempo reale dei vostri gusti. Guardate guardate guardate...">Le
                        più lette</a></li>
                <li class="cat-item cat-item-18"> [13]
                    <a href="http://www.iprimidieci.com/category/musica"
                       title="La più popolare della nostra categoria. Decine di generi musicali e di cantanti. Dalla musica per pischelli a quella d'autore. Da Vasco alla pop underground koreana. Molte chicche per gli amanti del classico e i nostalgici.">Musica</a>
                </li>
                <li class="cat-item cat-item-11 right-it"> [10]
                    <a href="http://www.iprimidieci.com/category/nomi-e-cognomi"
                       title="Si sa che da sempre siamo la patria dei nomi e dei cognomi assurdi, che ti rovinano la vita e ti fanno prendere in giro dai nemici. Curiosità sui nomi di battesimo e sui nomi dei cognomi delle cose.">Nomi
                        e cognomi</a></li>
                <li class="cat-item cat-item-5"> [23]
                    <a href="http://www.iprimidieci.com/category/personali"
                       title="Cioè, non quelle personali della redazione, ma di quello che noi in quanto individui di una comunità facciamo tristemente e costantemente. In alto difetti e pazzie della nostra vita!">Personali</a>
                </li>
                <li class="cat-item cat-item-175 right-it"> [16]
                    <a href="http://www.iprimidieci.com/category/societa"
                       title="E vaiii! non siamo certo un blog politico, ma alcune soddisfazioni ce le toglieremo. Contro tutti e tutto, contro Titti e Totti. a favore dei più deboli, ma con manie di grandezza...noi siamo fatti così. ">Polemica</a>
                </li>
                <li class="cat-item cat-item-96"> [9]
                    <a href="http://www.iprimidieci.com/category/scuola"
                       title="Tutto ciò che riguarda alunni, professori, leggende, e situazioni surreali di questo pazzo mondo in mano a Maria Star Gelmini...">Scuola</a>
                </li>
                <li class="cat-item cat-item-1 right-it"> [6]
                    <a href="http://www.iprimidieci.com/category/senza-categoria"
                       title="Visualizza tutti gli articoli archiviati in Senza categoria">Senza categoria</a></li>
                <li class="cat-item cat-item-10"> [17]
                    <a href="http://www.iprimidieci.com/category/spettacolo"
                       title="Teatro, artisti, tournèe, attori, artisti circensi e cistercensi. Sapevate che anche Carlo Magno recitava e stava in equilibrio sul monociclo? E quanto ne sapete sui circhi in giro per il mondo? Venghino sjore e sjori!!!">Spettacolo</a>
                </li>
                <li class="cat-item cat-item-6 right-it"> [15]
                    <a href="http://www.iprimidieci.com/category/sport"
                       title="Il mondo di Signorperello. Dallo skylift al lancio delle babbucce. Racchiuse le risposte di tutti gli italiani che dicono [lo dicono tutti] di essere dei grandi sportivi e poi il massimo che fanno è guardare Controcampo.">Sport</a>
                </li>
                <li class="cat-item cat-item-17"> [12]
                    <a href="http://www.iprimidieci.com/category/cultura"
                       title="Con noi è una parola grossa. Ma tutto quello che riguarda la nostra vita e la nostra storia, finalmente... è qui!!! Categoria seria è...">Storia</a>
                </li>
                <li class="cat-item cat-item-22 right-it"> [14]
                    <a href="http://www.iprimidieci.com/category/tecnologia"
                       title="Settore di Antonio. Qua ci pensa lui, troverete elementi, oggetti e novità che la mente umana non ha ancora concepito.">Tecnologia/web</a>
                </li>
                <li class="cat-item cat-item-20"> [16]
                    <a href="http://www.iprimidieci.com/category/tv"
                       title="Categoria forte. Comprende programmi, spot, vip e tutte le storie delle telenovelas della nostra vita. Ci aspettiamo grandi commenti e tanti spunti: dai programmi anni '70 ai reality trash!">Tv</a>
                </li>
                <li class="cat-item cat-item-16 right-it"> [14]
                    <a href="http://www.iprimidieci.com/category/usi-e-costumi"
                       title="Quello che è solito e si usa fare. La nostra tradizione e le nostre credenze. Noi siamo così e non cambieremo mai. Le classifiche però tranquilli, che le aggiorniamo...">Usi
                        e costumi</a></li>
                <li class="cat-item cat-item-4"> [9]
                    <a href="http://www.iprimidieci.com/category/utenti"
                       title="La raccolta delle classifiche proposte da voi lettori. Noi della redazione provvederemo a leggerle e pubblicare le più belle. ">Utenti</a>
                </li>
                <li class="cat-item cat-item-21 right-it"> [14]
                    <a href="http://www.iprimidieci.com/category/viaggi"
                       title="Luoghi e misteri, folklore e curiosità. Dalle grandi metropoli al cocuzzolo della montagna, passando per mare e campagna. Tutto ciò che c'è da sapere sul resto del mondo lo troverete qui.">Viaggi</a>
                </li>
                <li class="cat-item cat-item-13 odd"> [6]
                    <a href="http://www.iprimidieci.com/category/videogame"
                       title="L'intero mondo dei videogame. Dai più amati ai peggiori flop della storia. Tenteremo come sempre di classificarli tutti.">Videogame</a>
                </li>
                <li class="cat-item cat-item-2105 right-it odd"> [6]
                    <a href="http://www.iprimidieci.com/category/vorticosi-pensieri"
                       title="qui mettiamo pensieri e considerazioni extra sulla vita, sul mondo e tutto ciò che a nessun altro avremmo il coraggio di dire...">Vorticosi
                        pensieri</a></li>
            </ul>
        </li>
        <li class="livprinc widget archive final">
            <div class="side-title">
                <h2 class="title">存档</h2>
            </div>
            <ul>
                <li>'10 <a href="http://www.iprimidieci.com/2010/03">Marzo</a></li>
                <li class="right-it">'10 <a href="http://www.iprimidieci.com/2010/02">Febbraio</a></li>
                <li>'10 <a href="http://www.iprimidieci.com/2010/01">Gennaio</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/12">Dicembre</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/11">Novembre</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/10">Ottobre</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/09">Settembre</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/08">Agosto</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/07">Luglio</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/06">Giugno</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/05">Maggio</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/04">Aprile</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/03">Marzo</a></li>
                <li class="right-it">'09 <a href="http://www.iprimidieci.com/2009/02">Febbraio</a></li>
                <li>'09 <a href="http://www.iprimidieci.com/2009/01">Gennaio</a></li>
                <li class="right-it">'08 <a href="http://www.iprimidieci.com/2008/12">Dicembre</a></li>
                <li class="odd">'08 <a href="http://www.iprimidieci.com/2008/11">Novembre</a></li>
            </ul>
        </li>
        <li class="livprinc widget ads-google">
            <div class="ads">
                <div class="side-title">
                    <h2 class="title">赞助</h2>
                </div>
                <!-- 广告代码 -->
            </div>
        </li>
        <li class="livprinc widget blog-roll final">
            <div class="side-title">
                <h2 class="title">友情链接</h2>
            </div>
            <ul>
                <li><a href="http://www.libelluscollection.com" title="Orsetti e favole per bambini">Favole per
                    bambini</a></li>
                <li class="right-it"><a href="http://www.infosiracusa.com/" title="Info Siracusa">Info Siracusa</a></li>
                <li><a href="http://www.personalitaconfusa.splinder.com/" target="_blank">Personalità confusa</a></li>
                <li class="right-it"><a href="http://www.stradicomic.com">Stradicomic Cabaret</a></li>
                <li class="odd"><a href="http://www.resetstudio.it/">Web agency</a></li>
            </ul>
        </li>
        <li class="livprinc widget rss">
            <div class="side-title">
                <h2 class="title"><a href="/feed">订阅</a></h2>
            </div>
        </li>
    </ul>
</div>
<br class="clearer">

<div class="end-content"></div>