---
layout: default
---
<div class="posts">
  <!-- I primi dieci Post -->
  <div class="post" id="post-2760">
      <div class="rings"></div>
      <div class="post-header">
          <h1 class="post-title"><a href="{{page.url}}">{{page.title}}</a></h1>
          <div class="post-date">{{ page.date | date_to_string }}</div>
      </div>
      <div class="entry">
          {{content}}
          <div class="note">
              <div class="corner">
              </div>
              note
          </div>
      </div>
      <div class="post-metadata">
          <div class="post-cats">
              分类 ：
              {% if page.categories != empty %}
              {% for category in page.categories | sort %}
              <a href="/category/#{{category}}" title="{{category}}" rel="category tag">
                {{category|downcase}}
              </a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
              {% endif %}
          </div>
          <div class="comment ds-thread-count" data-thread-key="{{page.url}}" data-count-type="comments"></div>
      </div>
      <div class="post-metadata">
          <div class="post-tags">
              标签 ：
              {% if page.tags != empty %}
              {% for tag in page.tags | sort %}
              <a href="/tag/#{{tag}}" title="{{tag}}" rel="category tag">
                {{tag|downcase}}
              </a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
              {% endif %}
          </div>
      </div>
  </div>
  <!-- Fine I primi dieci Post -->
  <div class="ads right">
      <h3>I primi dieci è sponsorizzato da:</h3>
      <div>
          广告
      </div>
      <br class="clearer">
  </div>
  <div id="comments">

      <br class="clearer">

      <div class="comments-title-head add-comment">
          <div class="side-title">
              <h5 class="comments-title">评论</h5>
          </div>
      </div>
      <div class="commentform">
        <div class="ds-thread" data-thread-key="{{page.url}}" data-title="{{page.title}}" ></div>
      </div>
  </div>
  <div class="ads right">
      <h3>I primi dieci è sponsorizzato da:</h3>
      <div>
          广告
      </div>
      <br class="clearer">
  </div>
</div>